body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page-container {
	position: absolute;
	top: 70px;
	left: 65px;
	background-color: #202124;
	width: calc(100vw - 78px);
}

.page-icon-container {
	display: flex;
	flex-direction: column;
	height: 90vh;
	width: 90%;
}

.empty-subtitle {
	width: 50%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
